{% extends "layout.html" %}
{% block title %}Admin Control Panel{% endblock %}
{% block body %}
<center><h1>Add a player</h1></center>
<form action="{{ url_for('AddPlayer') }}" method="post"  enctype="multipart/form-data">
<p><label><u>Name:</u></label> <input type="text" name="name" required class="form-control"></p>
<hr>
<label><u>Gender:</u></label> <br>
<select class="form-control" name="gender" required>
<option value="male" default>Male</option>
<option value="female" default>Female</option>
</select>
<hr>
<p><label><u>Birthday:</u></label> <input type="date" name="birthday" required class="form-control"></p>
<hr>
<p><label><u>Country:</u></label> <input type="text" name="country" required class="form-control"></p>
<hr>
<p><label><u>Club:</u></label> <input type="text" name="club" required class="form-control"></p>
<hr>
<p><label><u>Awards:</u></label> <input type="number" name="awards" required class="form-control"></p>
<hr>
<p><label><u>Narrative:</u></label> <textarea name="narrative" required class="form-control"></textarea></p>
<hr>
<p><label><u>Photo:</u></label> <input type="file" name="file" required class="form-control"></p>
<hr>
<p><center><input type="submit" value="Add Player" class="btn btn-primary"></center></p>
</form>
<hr>
{% endblock %}