{% extends "layout.html" %}
{% block title %}Article - {{article.subject}}{% endblock %}
{% block body %}
<center><h1>{{article.subject}}</h1></center>
<p>{{article.content}}</p>
<hr>
<center><h3>Comments</h3></center>
<hr>
<center><img src="{{ url_for('static', filename=pictures.name) }}" width="300px" height=200px></center>
{% if 'id' in session %}
<form action="{{url_for('article', id=article.id) }}" method="post">
<p><label>Comment: </label>
<textarea name="comment" placeholder="Comment here..." class="form-control"></textarea>
</p>
<hr>
<p>
<center>
<input type="submit" value="Comment" class="btn btn-primary">
</center>
</p>
</form>
{% endif %}
{% for comment in comments %}
<div class="comment">
<label><u>{{users[loop.index0].name}}:</u></label>
{{comment.content}}
</div>
<hr>
{% endfor %}
{% endblock %}