<!doctype html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </style>
<div>
<title>{% block title %}{%endblock%}</title>
<center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ url_for('main') }}">Tennis</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('championships') }}">Championships</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
        <li><a href="{{ url_for('news') }}">News</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if 'id' not in session %}
        <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% else %}
        <li><a href="{{ url_for('profile') }}">{{session['name']}}</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
  </center>
  <div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger">
  <center>{{ message }}</center></div>
  {% endfor %}
  {% block body %}{% endblock %}
  </div>
</div>


