{% extends "layout.html" %}
{% block title %}ACP - {{article.subject}}{% endblock %}
{% block body %}
<form action="{{url_for('ManageArticle', id=article.id) }}" method="post">
<center><h1> Managing article: {{article.subject}}</h1></center>
<p>Subject: <input type="text" name="subject" value="{{article.subject}}"><br></p>
<p>Content: <textarea name="content">{{ article.content }}</textarea></p>
<center><input type="submit" value="Done"></center>
</form>
<center><a href="{{ url_for('DeleteArticle', id=article.id) }}">Delete Article</a></center>
{% for comment in comments %}
<form action="{{ url_for('DeleteComment', id=comment.id ) }}" method="post">
	<p>User: {{comment.user.name}}</p>
	<p>Content: {{comment.content}}</p>
	<p><center><input type="submit" value="Delete"></center></p>
</form>

{% endfor %}
{% endblock %}