{% extends "layout.html" %}
{% block title %}ACP - Manage Articles{% endblock %}
{% block body %}
{% for article in articles %}
<div class="article">
<form action="{{ url_for('ManageArticle', id=article.id) }}" method="get">
<p>{{article.subject}}</p>
<p>{{article.content}}</p>
<center><input type="submit" value="Manage" class="btn btn-primary"></center>
</div>
</form>
<hr>
{% endfor %}
<p><center><strong><a href="{{ url_for('AddArticle') }}">Add Article</a></strong></center></p>
<hr>
{% endblock %}