{% extends "layout.html" %}
{% block title %}Admin Control Panel{% endblock %}
{% block body %}
<center><h1>Manage Player - {{player.name}}</h1></center>
<form action="{{ url_for('ManagePlayer', id=player.id) }}" method="post">
<p><label><u>Name:</u></label> <input type="text" name="name" value="{{player.name}}" class="form-control"></p>
<hr>
<p><label><u>Birthday:</u></label> <input type="date" name="date" value="{{player.dob}}" class="form-control"></p>
<hr>
<p><label><u>Country:</u></label> <input type="text" name="country" value="{{player.country}}" class="form-control"></p>
<hr>
<p><label><u>Club:</u></label> <input type="text" name="club" value="{{player.club}}" class="form-control"></p>
<hr>
<p><label><u>Awards:</u></label> <input type="number" name="awards" value="{{player.awards}}" class="form-control">
<hr>
<p><label><u>Narrative:</u></label> <textarea name="narrative" class="form-control">{{player.narrative}}</textarea>
<hr>
<p><center><input type="submit" value="Done" class="btn btn-primary"></center></p>
<hr>
</form>
{% endblock %}